<section data-controller="kanban--card-comment">
  <% @card_comments.each do |card_comment| %>
    <div class="mt-6 border-t pt-6">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
        <span class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
          <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
          </svg>
        </span>
          <div class="ml-2">
            <span class="block font-medium text-gray-700">
              <%= card_comment.auth.email %>
            </span>
            <span class="block text-sm text-gray-500">
              <%= card_comment.auth.profile.position ? card_comment.auth.profile.position : "Unknown Position" %>
            </span>
          </div>
        </div>
        <% if current_auth.id === card_comment.auth_id %>
          <div class="flex gap-2 items-center">
            <button data-comment-button-id="<%= card_comment.id %>" data-action="click->kanban--card-comment#toggleComment" class="text-blue-700 hover:text-blue-800">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
              </svg>
            </button>
            <%= render_alert_dialog do %>
              <%= alert_dialog_trigger do %>
                <button class="text-red-700 hover:text-red-800 text-xs">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z"/>
                  </svg>
                </button>
              <% end %>
              <%= alert_dialog_content do %>
                <div class="flex flex-col space-y-2 text-center sm:text-left text-xs">
                  <h2 class="text-lg font-semibold">Delete comment</h2>
                  <p class="text-sm text-muted-foreground">
                    This action cannot be undone.
                  </p>
                </div>
              <% end %>
              <%= alert_dialog_cancel do %>
                <%= render_button("Cancel", variant: :outline) %>
              <% end %>
              <%= alert_dialog_continue do %>
                <%= link_to card_comment_path(card_comment), data: { "turbo-method": :delete } do %>
                  <%= render_button("Yes", variant: :destructive) %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="mt-2 text-sm text-gray-700"
           data-kanban--card-comment-target="comment"
           data-target-id="<%= card_comment.id %>"
           data-is-edit="false"
      >
        <span>
          <%= card_comment.text %>
        </span>
        <% if current_auth.id === card_comment.auth_id %>
          <%= form_with url: card_comment_path(card_comment), scope: :card_comment, method: :patch, class: "hidden" do |form| %>
            <%= form.text_area :text, placeholder: "Edit comment...", class: "resize-none  flex w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" %>
            <div class="items-center mt-1 gap-2 flex justify-end">
              <%= form.submit "Save", class: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-blue-500 text-primary-foreground hover:bg-blue/90 cursor-pointer py-1 px-2" %>
              <button type="button" data-comment-button-id="<%= card_comment.id %>" data-action="click->kanban--card-comment#toggleComment" class="cursor-pointer inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground py-1 px-2">
                Cancel
              </button>
            </div>
            <div class="sr-only">
              <%= form.number_field :card_id, value: card_comment.card_id %>
              <%= form.number_field :auth_id, value: current_auth.id %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
