<div class="flex items-center justify-between mt-6">
  <%= link_to 'javascript:history.back()' do %>
    <%= render_button variant: :outline do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"/>
      </svg>
    <% end %>
  <% end %>
  <div class="flex space-x-2">
    <%= render_dialog do %>
      <%= dialog_trigger do %>
        <%= render_button("Edit", variant: :outline) %>
      <% end %>
      <%= render "cards/shared/dialog", card_action: :edit %>
    <% end %>
    <%= render_dialog do %>
      <%= dialog_trigger do %>
        <%= render_button("Delete", variant: :outline) %>
      <% end %>
      <%= render "cards/shared/dialog", card_action: :delete %>
    <% end %>
  </div>
</div>