<%= render_dialog do %>
  <%= dialog_trigger do %>
    <button
      class="inline-flex gap-2 items-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2"
      type="button"
    >
      Assign User
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"/>
      </svg>
    </button>
  <% end %>

  <%= dialog_content do %>

    <section data-controller="kanban--select-assignee">
      <div
        class="flex"
        data-kanban-id="<%= @kanban.id %>"
        data-kanban--select-assignee-target="selection"
      ></div>
      <label for="select-assignee-input"></label>
      <div class="flex space-x-2 mt-4">
        <input
          id="select-assignee-input"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 max-w-lg flex-1"
          placeholder="Enter email addresses"
          type="email"
          data-kanban--select-assignee-target="input"
        >
      </div>
      <div class="flex flex-col gap-4 overflow-y-scroll max-h-[280px] py-2"
           data-kanban--select-assignee-target="list"
      >
        <% @accounts.each do |account| %>
          <div class="flex items-center gap-3"
               data-kanban--select-assignee-target="item"
               data-item-account-id="<%= account.id %>"
          >
            <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
              <% if account.avatar.representable? %>
                <img class="w-10 h-10 rounded-full" src="<%= account.avatar %>" alt="Rounded avatar">
              <% else %>
                <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                </svg>
              <% end %>
            </div>
            <div class="grid gap-0.5 text-xs">
              <% if account.name %>
                <div class="font-medium">
                  <%= account.name %>
                </div>
              <% end %>
              <div class="text-gray-500 dark:text-gray-400">
                <%= account.auth.email %>
              </div>
            </div>
            <button
              data-kanban--select-assignee-target="itemButton"
              data-item-button-id="<%= account.id %>"
              data-action="click->kanban--select-assignee#select"
              data-item-is-add="false"
              class="ml-auto mr-3 group"
              type="button"
            >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:text-red-700">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-500 group-hover:text-green-700 hidden">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
              </svg>
            </button>
          </div>
        <% end %>
      </div>
      <button
        class="flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium w-full ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2"
        type="submit"
        data-action="click->kanban--select-assignee#save"
      >
        Save
      </button>
      <template id="assigneeInput">
        <input data-kanban--select-assignee-target="selectionInput" type="text" multiple="multiple" hidden name="kanban_assignee[assignees][]"/>
      </template>
    </section>
  <% end %>
<% end %>

