<section>
  <%= render 'kanbans/shared/kanban_head' do %>
    <%= link_to kanbans_path do %>
      <%= render_button variant: :outline do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"/>
        </svg>
      <% end %>
    <% end %>
    <% if @kanbans.count != 0 %>
      <%= render_popover do %>
        <%= popover_trigger do %>
          <%= render_button variant: :outline, class: "flex gap-2" do %>
          <span>
            Select Project Kanban
          </span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
            </svg>
          <% end %>
        <% end %>
        <%= popover_content do %>
          <div class="text-sm text-gray-700 dark:text-gray-200 max-h-48 overflow-y-scroll">
            <% @kanbans.each do |kanban| %>
              <%= dropdown_menu_item do %>
                <%= link_to kanban.name, "/kanbans/#{kanban.id}", class: "block hover:bg-gray-100" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render "components/ui/notice" %>

  <div class="overflow-x-scroll min-h-[80vh] mt-16"
       data-controller="kanban--card-dragndrop"
  >
    <div class="flex justify-start items-start gap-4 mb-3 px-6"
         data-kanban--card-dragndrop-target="kanbanGroup"
         data-kanban-id="<%= @kanban.id %>"
         data-controller="kanban--column-menu"
    >
      <% @kanban_columns.each do |column| %>
        <div class="flex flex-col py-1">
          <div class="flex justify-between items-center relative">
            <%= tag.p column.name, class: "font-bold text-base" %>
            <%= render_popover do %>
              <%= popover_trigger do %>
                <button
                  class="px-3 py-1 text-xs font-medium text-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 rounded-lg"
                  type="button"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"/>
                  </svg>
                </button>
              <% end %>
              <%= popover_content do %>
                <div class="z-50 absolute top-[-0.25rem] right-[-14px] shadow-lg rounded-md overflow-hidden p-2 border bg-white">
                  <div class="flex flex-col gap-2 ">
                    <%= render "kanban_columns/shared/dialog", kanban_column: @kanban_column, kanban_column_action: :edit %>
                    <%= link_to "Remove", kanban_column_path(column.id), data: { "turbo-method": :delete }, class: "bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-red-400 hover:bg-red-200" %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="min-w-[28rem] w-[28rem] py-4 "
               data-kanban--card-dragndrop-target="kanbanColumn"
               data-kanban-col-id="<%= column.id %>"
          >
            <% column.cards.sort_by { |card| card.position }.each do |card| %>
              <%= link_to card_path(card.id), class: "block w-full p-6 mb-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700", data: { "kanban-card-id": "#{card.id}", "kanban--card-dragndrop-target": "kanbanCard" } do %>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <%= card.title %>
                </h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">
                  <%= card.content %>
                </p>
              <% end %>

            <% end %>
          </div>
          <%= render_dialog do %>
            <%= dialog_trigger do %>
              <button class="min-w-[28rem] w-[28rem] border-dashed border-2 border-gray-200 rounded-md font-bold p-4 hover:bg-gray-100 hover:border-gray-300">
                + Add another card
              </button>
            <% end %>
            <%= dialog_content do %>
              <%= render "cards/shared/form_create", card: Card, column: column %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="flex flex-col w-full">
        <div class="font-bold text-base">
          Add another group
        </div>
        <div class="min-w-[28rem] w-[28rem] py-6">
          <%= render "kanban_columns/shared/dialog", kanban_column: @kanban_column, kanban_column_action: :create %>
        </div>
      </div>
    </div>
  </div>
</section>