<section>
  <%= render 'kanbans/shared/kanban_head' do %>
    <%= render "kanbans/shared/select_kanban" %>
  <% end %>

  <%= render "components/ui/notice" %>

  <div class="flex items-center gap-2 px-6 py-3">
    <%= render "filter_group" %>
    <%= render "select_assignee" %>
  </div>
  <div class="flex items-center gap-2 px-6">
    <%= render "assignee_list" %>
  </div>

  <%= render "kanban_cards_list" %>
</section>