<!DOCTYPE html>
<html lang="en">
<head>
  <title>Backend as a Service</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= tag :meta, name: :rails_env, content: Rails.env %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-gray-50 dark:bg-gray-900">
<div class="antialiased h-screen">
  <%= render "components/partial/header" %>
  <%= render "components/partial/sidebar" %>
  <%= render "components/partial/main" %>
  <%= render "components/partial/flash", flash: flash %>
  <%= turbo_frame_tag dom_id: "flash" do %>
    <%= render "components/partial/flash", flash: flash %>
  <% end %>
</div>
</body>
</html>
