<!DOCTYPE html>
<html>
  <head>
    <title>Ecom - Backend as a Service</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="antialiased bg-gray-50 h-screen dark:bg-gray-900">
      <%= render "components/partial/header" %>
      <%= render "components/partial/sidebar" %>
      <%= render "components/partial/main" %>
    </div>
  </body>
</html>
